.image-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  display: inline-block;
  max-width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  img {
    max-width: 100%;
  }
}
