<mat-accordion class="faq-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        O que é Angular?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Angular é uma plataforma e framework para construção de aplicações web em HTML e TypeScript. É desenvolvida pela equipe do Angular no Google e por uma comunidade de indivíduos e corporações.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Como instalo o Angular?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Você pode instalar o Angular usando o Angular CLI. Execute o comando para instalar o Angular CLI globalmente.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quais são as principais características do Angular?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Algumas das principais características do Angular incluem a injeção de dependência, ferramentas poderosas de template, roteamento, suporte para formulários reativos e muito mais.</p>
  </mat-expansion-panel>
</mat-accordion>
