<div *ngIf="isLoading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isMobile">
  <div class="banner-container">
    <img src="assets/banner-kess.jpg" alt="Banner" class="banner-img" />
  </div>
</div>

<div *ngIf="!isLoading && posts.length > 0"></div>
<div *ngFor="let monthYear of monthYearNames">
  <h1 class="month-year-header">{{ monthYear }}</h1>
  <div class="grid-container">
    <div class="grid-item" *ngFor="let post of groupedPosts[monthYear]">
      <mat-card>
        <img mat-card-image [src]="post.photo" alt="{{ post.name }}" />
        <mat-card-header>
          <div class="header-container">
            <mat-card-title>{{ post.name }}</mat-card-title>
            <mat-card-subtitle>{{
              post.date | date : "dd/MM/yyyy"
            }}</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p class="post-info">Valor: {{ post.value | currency : "BRL" }}</p>
          <p class="post-info">{{ post.info }}</p>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="showDetails(post)">
          <b>+</b> INFOS
        </button>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && posts.length === 0" class="no-results">
  <p>Nenhum evento encontrado.</p>
</div>

<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>
