body {
  margin: 0;
  padding-top: 64px; /* mat-toolbar */
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}
.grid-item {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 100%; 
  max-width: 300px; 
  margin: 8px; 
}

mat-card img {
  height: 300px; 
  object-fit: cover; 
}
