<div class="about-container">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SeuVideoID" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="text-container">
      <p>
        A <b>Kess Excursões e Eventos</b> é especializada em proporcionar experiências inesquecíveis, oferecendo transporte seguro e confortável para shows e eventos em todo o país. Nossa missão é garantir que cada cliente desfrute de momentos únicos com total tranquilidade e comodidade. Com uma equipe dedicada e veículos modernos, cuidamos de todos os detalhes para que você só precise se preocupar em aproveitar o seu evento ao máximo. Junte-se a nós e transforme suas viagens em memórias inesquecíveis!
    </p>
    </div>
  </div>