<div class="about-container">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SeuVideoID" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="text-container">
      <p>
        AD
        
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus fermentum ipsum, eget ultricies leo laoreet et. Ut non lobortis lacus, sed aliquet quam. Morbi nec justo eget ligula lobortis ornare. Integer tincidunt diam tempus mollis vulputate. Curabitur dapibus vel ipsum ac viverra. Morbi in egestas quam. Sed porttitor eleifend lobortis. In gravida leo ut tristique ultricies. Morbi sit amet aliquet neque. Aliquam dapibus varius gravida. Sed molestie pretium urna quis finibus.
    </p>
    </div>
  </div>