<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <p><strong>Data:</strong> {{data.dateArrival | date: 'dd/MM/yyyy'}} ({{weekdays[this.convertDate(data.dateArrival)]}})</p>
  <h3 mat-dialog-title>Horários e Locais de Embarque: </h3>
  <p><strong>Praia Grande - Terminal Tude Bastos: </strong> {{data.schedulePraiaGrande}}</p>
  <p><strong>São Vicente - Smart Fit (Pres. Wilson): </strong> {{data.scheduleSaoVicente}}</p>
  <p><strong>Santos - Posto Portal (Santa Casa): </strong> {{data.scheduleSantos}}</p>
  <p><strong>Cubatão - Casas Bahia (9 de Abril): </strong> {{data.scheduleCubatao}}</p>
  <p><strong>Retorno: </strong> {{data.scheduleReturn}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
  <a mat-button href="https://wa.me/5513996540104" target="_blank" color="primary">Contato via WhatsApp</a>
</div>
