<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <p><strong>Data do Evento:</strong> {{data.dateArrival | date: 'dd/MM/yyyy'}}</p>
  <p><strong>Horários de Santos:</strong> {{data.scheduleSantos}}</p>
  <p><strong>Horários de Praia Grande:</strong> {{data.schedulePraiaGrande}}</p>
  <p><strong>Horários de São Vicente:</strong> {{data.scheduleSaoVicente}}</p>
  <p><strong>Horários de Cubatão:</strong> {{data.scheduleCubatao}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
  <a mat-button href="https://wa.me/55XXX" target="_blank" color="primary">Contato via WhatsApp</a>
</div>
