<div *ngIf="!accessGranted" class="password-protection">
  <mat-card>
    <h2>Proteção por Senha</h2>
    <form (ngSubmit)="checkPassword()" #passwordForm="ngForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Digite a senha</mat-label>
        <input
          matInput
          type="password"
          id="password"
          [(ngModel)]="enteredPassword"
          name="password"
          required
        />
        <mat-error *ngIf="passwordForm.form.controls['password']?.invalid">
          A senha é obrigatória
        </mat-error>
      </mat-form-field>
      <div class="btn-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="passwordForm.invalid"
        >
          Entrar
        </button>
      </div>
    </form>
  </mat-card>
</div>

<div *ngIf="accessGranted">
  <div class="admin-container">
    <h1 class="admin-title">Painel Administrativo</h1>
    <div class="admin-buttons">
      <button
        mat-raised-button
        class="admin-button primary"
        (click)="navigateTo('incluir-post')"
      >
        Incluir Post
      </button>
      <button
        mat-raised-button
        class="admin-button accent"
        (click)="navigateTo('editar-post')"
      >
        Editar Post
      </button>
      <button
        mat-raised-button
        class="admin-button warn"
        (click)="navigateTo('excluir-post')"
      >
        Excluir Post
      </button>
    </div>
  </div>
</div>
