<div class="contact-container">
    <h1>Entre em Contato Conosco</h1>
    <div class="contact-buttons">
      <button mat-raised-button color="primary" class="contact-button" (click)="openLink('https://wa.me/5513996540104')">
        WhatsApp
      </button>
      <button mat-raised-button color="primary" class="contact-button" (click)="openLink('https://www.instagram.com/kesseventos/')">
         Instagram
      </button>
      <button mat-raised-button color="primary" class="contact-button" (click)="openLink('https://www.facebook.com/KESSeventos/')">
        Facebook
      </button>
    </div>
  </div>
  