<mat-accordion class="faq-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Como reservar minha vaga?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      A reserva é feita mediante pagamento de um sinal e o envio dos dados abaixo:<br>
      Nome Completo:<br>
      CPF:<br>
      Celular:<br>
      Cidade de embarque:<br>
      Data da excursão:<br>
      *enviar os dados pro whats: (13) 996540104
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quais cidades são atendidas com pontos de embarque?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Somente Santos, São Vicente, Praia Grande e Cubatão.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Qual o transporte utilizado nas excursões?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      O transporte é definido de acordo com a quantidade de passageiros, podendo ser van, micro ou ônibus.<br>
      - 10 a 20 passageiros = van<br>
      - 21 a 30 passageiros = micro ônibus<br>
      - acima de 31 passageiros = ônibus executivo<br>
      Todos ônibus utilizados são completos com banheiro, ar condicionado, tomadas, cortesia de água e um guia responsável pela viagem.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Posso utilizar somente a ida ou a volta na viagem?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Sim, porém você está comprando uma 'vaga' e não um percurso (ida ou volta), portanto o valor permanece o mesmo.<br>
      Não é permitido excesso de passageiros no Seguro, então vendemos somente até o limite de passageiros que comporta o veículo, independente se a pessoa não irá utilizar na ida ou na volta. <br>
      Exemplo: Se utilizarmos um ônibus que comporta 50 pessoas e tiver 5 pessoas que só irão voltar, na ida iremos apenas com 45 pessoas e essas outras 5 poltronas vão vazias pois estarão reservadas pras 5 pessoas que só irão voltar (totalizando as 50 pessoas que comporta o ônibus).
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Como funciona a política de reembolso?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      O reembolso só é efetuado se for solicitado com até 20 dias de antecedência do evento, nesse caso devolvemos o valor integral pago.<br>
      (se o pagamento foi realizado via cartão de crédito descontaremos a taxa).<br>
      Se não atingirmos a quantidade mínima pra excursão (10 pessoas) devolveremos o valor integral pago e avisaremos com 1 semana de antecedência.<br>
      Qualquer motivo de saúde, problemas pessoais, viagem, mudança de país ou cancelamento de artista (em caso de festivais) não são motivos para devolução do valor pago.<br>
      Para a transferência do crédito de uma excursão para outra também é necessário que seja solicitada com até 20 dias de antecedência.<br>
      Em caso de adiamento do evento, a vaga será automaticamente reagendada para a nova data.<br>
      Em outros casos específicos não mencionados acima trataremos direto com o cliente da melhor maneira possível.<br><br>
      Trabalhamos de acordo com a deliberação normativa da Embratur de número 161 de 09 agosto de 1985 que diz o seguinte:<br><br>
      Valor obrigatório a ser restituído:<br>
      90% = até 31 dias do início da viagem.<br>
      80% = de 21 dias do início da viagem.<br>
      0% = menos de 20 dias do início da viagem.<br><br>
      O pagamento da reserva implica automaticamente na ciência das informações.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        O pagamento pode ser efetuado no dia de embarque?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Não, reservas são feitas somente com pagamento antecipado.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quais métodos de pagamento são aceitos?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Aceitamos pix ou cartão de crédito (com as taxas de acordo com a quantidade de parcelas).
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Qual o mínimo de passageiros é necessário pra excursão ser realizada?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Precisamos de no mínimo 10 passageiros, caso esse número não seja atingido devolveremos o valor integral e avisaremos com no mínimo 1 semana de antecedência do evento.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Onde são passadas as informações sobre a excursão?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Na semana do evento criamos um grupo no whats com todos os passageiros e passamos todas as informações sobre a excursão:<br>
      Horários e locais de embarque e desembarque, lista de passageiros pra conferência, ponto de encontro pro retorno, veículo e empresa utilizada no dia da excursão, guia responsável pelo transporte, tempo de tolerância, etc...
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        O que levar na viagem?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      É obrigatório levar o documento em toda viagem, cartão ou dinheiro para emergências, é aconselhável também levar um celular com crédito e carregador portátil pra qualquer imprevisto, é permitido também levar comidas pra viagem (ida e volta), para eventos em locais abertos é aconselhável levar roupas extras pra deixar no transporte caso precise trocar na hora da volta (camisa, calça, casaco, toalha, etc...), outros itens aconselháveis: capa de chuva, protetor solar, óculos de sol, itens de higiene pessoal, etc...
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        É permitido deixar os pertences no transporte?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Sim, é permitido porém a empresa de transporte não se responsabiliza pelos pertences dos passageiros.<br>
      Então a gente pede pra não deixar nada de valor como dinheiro, cartões, câmeras fotográficas, equipamentos eletrônicos no geral, etc...<br>
      É super válido deixar um casaco, troca de roupas, algo pra comer na hora da volta, etc...<br>
      Não é permitido permanecer dentro do veículo após chegar ao local do evento sem a presença do responsável pela viagem.<br>
      Caso o veículo vá fazer outra viagem com outros passageiros avisaremos com dias de antecedência no grupo do whats pra não deixarem nada no interior do veículo, porém é muito raro isso acontecer.
    </p>
  </mat-expansion-panel>
</mat-accordion>
