<mat-accordion class="faq-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Como posso reservar uma vaga para a excursão?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Você pode reservar sua vaga diretamente pelo nosso site, escolhendo o evento desejado e seguindo as instruções de
      pagamento.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quais são os pontos de embarque disponíveis?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Oferecemos vários pontos de embarque pela cidade. Consulte nossa página de excursões para ver os pontos específicos
      disponíveis para cada evento.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        O que está incluído no preço da excursão?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      O preço da excursão inclui transporte de ida e volta em ônibus confortável, ingressos para o evento, e em alguns
      casos, lanches e bebidas durante a viagem.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Posso cancelar minha reserva? Qual é a política de reembolso?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Sim, você pode cancelar sua reserva. Consulte nossa política de reembolso no site para mais detalhes sobre
      prazos e condições.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Há limite de idade para participar das excursões?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      A idade mínima para participar de nossas excursões é de 18 anos. Menores de idade devem estar acompanhados por um
      responsável.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        O que devo levar para a excursão?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Recomendamos levar documentos de identificação, ingressos para o evento, e itens pessoais como carregador de
      celular, água, e snacks. Confira os detalhes específicos de cada evento para mais informações.
    </p>
  </mat-expansion-panel>
</mat-accordion>
